.button {
  outline: none;

  &.link {
    color: $anchor-color;
    background: transparent;
    text-decoration: underline;

    &:hover,
    &:focus {
      background: transparent;
      color: $anchor-color-hover;
    }
  }
}
