@import "../common";

.button {
  outline: none;

  &.link {
    color: $primary-color;
    background: transparent;
    text-decoration: underline;

    &:hover,
    &:focus {
      background: transparent;
      color: $primary-color;
    }
  }
}
