/// A list of named breakpoints. You can use these with the `breakpoint()` mixin to quickly create media queries.
/// @type Map
$breakpoints: (
  small: 0,
  m-small: 560,
  medium: 768px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

/// The largest named breakpoint in which to include print as a media type
/// @type Keyword
$print-breakpoint: large;

$-ps-zero-breakpoint: small;
$-zf-zero-breakpoint: $-ps-zero-breakpoint;

/// All of the names in this list will be output as classes in your CSS, like `.small-12`, `.medium-6`, and so on. Each value in this list must also be in the `$breakpoints` map.
/// @type List
$breakpoint-classes: (small, m-small, medium, large, xlarge, xxlarge);

//usage: http://foundation.zurb.com/sites/docs/media-queries.html - sass
@function ps-breakpoint($val: $-ps-zero-breakpoint) {
  @return breakpoint($val);
}

@mixin ps-breakpoint($value) {
  @include breakpoint($value) {
    @content;
  }
}
