//colors

// Start with assigning color names to specific hex values.
$white:  #fff;
$black:  #000;
$red:    #ff3c41;
$orange: #f0ad4e;
$yellow: #fcd000;
$green:  #47cf73;
$blue:   #03a9f4;
$teal:   #00bcd4;
$pink:   #ff5b77;
$purple: #a0f;
$light-blue: #76daff;

// Create grayscale
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #7d7d7d;

// Reassign color vars to semantic color scheme
//overwrite foundation
$foundation-palette: (
  primary: $purple,
  secondary: $blue,
  success: $green,
  warning: $yellow,
  alert: $red,
  info: $light-blue,
  text: $dark-gray
);

//create $primary-color, $secondary-color
@include add-foundation-colors;

$body-background: $white;
$body-font-color: get-color(text);
