//colors

// Start with assigning color names to specific hex values.
$white:  #fff;
$black:  #000;
$gray:   #bdbdbd;
$red:    #f44336;
$orange: #ef6c00;
$yellow: #ffeb3b;
$green:  #43a047;
$blue:   #2196f3;
$indigo: #3f51b5;
$cyan:   #0097a7;
$pink:   #e91e63;
$purple: #673ab7;
$purple-dark: #311b92;

// Create grayscale
//$light-gray: #e0e0e0;
//$medium-gray: #bdbdbd;
//$dark-gray: #727272;

// Reassign color vars to semantic color scheme
// overwrite foundation
$foundation-palette: (
  primary: $purple,
  secondary: #bfe5f0,
  success: $green,
  warning: $orange,
  alert: $red,
  info: $blue,
  text: rgba($black, 0.54), // text is sharper as black with alpha rather than gray,
  gray: $gray
);

$base-palette: map-remove(
  $foundation-palette,
  (
    gray
  )
);

//create $primary-color, $secondary-color
//@include add-foundation-colors;

$body-background: $white;
$body-font-color: get-color(text);
