// units
$global-font-size: 16px;

// Converts one or more pixel values into matching rem values.
@function ps-units($pixels: 1) {
  @return ((1/$global-font-size) * $pixels) + rem;
}

$global-width: ps-units(1200);

// fonts
$body-antialiased: true;
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
$body-font-family: $font-family-sans-serif;
$global-lineheight: 1.4;
$font-size-base: 1rem;
$font-size-lg:   1.25rem;
$font-size-sm:   0.875rem;
$font-size-xs:   0.75rem;

$global-weight-normal: normal;
$global-weight-bold: bold;

/// Sets the text direction of the CSS. Can be either `ltr` or `rtl`.
/// @type Keyword
$global-text-direction: ltr !default;

//layout

/// Global font weight used for bold type.
/// @type Keyword | Number
$global-margin: 1rem;
/// Global value used for all elements that have a border radius.
/// @type Number
$global-padding: 1rem;

/// Enables flexbox for components that support it.
/// @type Boolean
$global-flexbox: true;

// Internal variables used for text direction
$global-left: if($global-text-direction == rtl, right, left);
$global-right: if($global-text-direction == rtl, left, right);

// Global value used for all elements that have a border radius.
$global-radius: 0;

// grid
// Enables flexbox for components that support it.
$global-flexbox: true;

/// If `true`, all elements will have transparent backgrounds when printed, to save on ink.
/// @type Boolean
$print-transparent-backgrounds: false;
