.pattern {
  clear: both;
  overflow: hidden;
}

.pattern .display {
  width: 65%;
  float: left;
}

//for a later time when  code snippets will be added
.pattern .source {
  width: 30%;
  float: right;
  display: none;
}
