//wrap foundation flex mixins for easy refactor
// check for explorer/safari inconsistent 'flex' key

$-ps-flex-justify: (
  'left': flex-start,
  'right': flex-end,
  'center': center,
  'justify': space-between,
  'spaced': space-around,
);

$-ps-flex-align: (
  'top': flex-start,
  'bottom': flex-end,
  'middle': center,
  'stretch': stretch,
);

$-ps-flex-direction: (
  'row': row,
  'row-reverse': row-reverse,
  'column': column,
  'column-reverse': column-reverse,
);

$-zf-flex-justify: $-ps-flex-justify;
$-zf-flex-align: $-ps-flex-align;
$-zf-flex-direction: $-ps-flex-direction;

/// Enables flexbox by adding `display: flex` to the element.
@mixin ps-flex {
  @include flex;

  > * {
    flex: 1 1 auto;
  }
}

.ps-flex {
  @include ps-flex;
}

.ps-flex__col {
  @include ps-flex;
  @include flex-direction(column);
}

.ps-flex__center {
  @include ps-flex;
  @include flex-align(center, middle);
}

.ps-flex__center-col {
  @include ps-flex;
  @include flex-direction(column);
  @include flex-align(center, stretch);
}

.ps-flex__spread {
  @include ps-flex;
  @include flex-align(justify, stretch);
}

.ps-flex__spread-center {
  @include ps-flex;
  @include flex-align(justify, middle);
}

.ps-flex__spread-col {
  @include ps-flex;
  @include flex-direction(column);
  @include flex-align(justify, stretch);
}

.ps-shrink,
*.ps-shrink {
  flex: 0 1 auto;
}

.ps-grow,
*.ps-grow {
  flex: 1 0 auto;
}
